%h1 Listing card_relationships

%table.grid
  %thead
    %tr
      %th Card
      %th Type
      %th To
      %th
      
  %tbody
    - @card_relationships.each do |card_relationship|
      %tr
        %td
          - unless card_relationship.card.nil?
            = render partial: 'cards/short', object: card_relationship.card
        %td= card_relationship.description
        %td
          - unless card_relationship.to.nil?
            = render partial: 'cards/short', object: card_relationship.to
        %td
          = link_to 'Show', card_relationship
          = link_to 'Edit', edit_card_relationship_path(card_relationship)
          = link_to 'Destroy', card_relationship, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Card relationship', new_card_relationship_path
