%p#notice= notice

%p
  %b Card:
  = render partial: "cards/short", object: @card_relationship.card
%p
  %b Description:
  = @card_relationship.description
%p
  %b To:
  = render partial: "cards/short", object: @card_relationship.to

= link_to 'Edit', edit_card_relationship_path(@card_relationship)
\|
= link_to 'Back', card_relationships_path
