= form_for @game_swap do |f|
  - if @game_swap.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game_swap.errors.count, "error")} prohibited this game_swap from being saved:"
      %ul
        - @game_swap.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :game_id
    = f.number_field :game_id
  .field
    = f.label :round_id
    = f.number_field :round_id
  .field
    = f.label :sequence
    = f.number_field :sequence
  .field
    = f.label :a_to_b_id
    = f.number_field :a_to_b_id
  .field
    = f.label :b_to_a_id
    = f.number_field :b_to_a_id
  .actions
    = f.submit 'Save'
