<script type="text/x-handlebars">
    {{outlet}}
</script>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>TwoRooms</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'ember-app' %>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="/images/bomb.png" >
    <meta  name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
  </head>
  <body>
    <script type="text/x-handlebars">
        <div id="wrapper">
        	<div id="frame" {{bind-attr class="position color"}}></div>
        	<div id="container">
        		<div id="flash">
        			<%- unless notice.nil? %> <p><%= notice %></p> <% end -%>
        			<%- unless alert.nil? %> <p><%= alert %></p> <% end -%>
        		</div>
        		{{outlet}}
        	</div>
        </div>
    </script>
  </body>
</html>
 -->