%h1 Listing rounds

%table
  %thead
    %tr
      %th Type
      %th Number
      %th Duration
      %th
      %th
      %th
      
  %tbody
    - @rounds.each do |round|
      %tr
        %td= round.type
        %td= round.number
        %td= round.duration
        %td= link_to 'Show', round
        %td= link_to 'Edit', edit_round_path(round)
        %td= link_to 'Destroy', round, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Round', new_round_path
