%p#notice= notice

%p
  %b Game type:
  = @round.game_type
%p
  %b Number:
  = @round.number
%p
  %b Duration:
  = @round.duration

= link_to 'Edit', edit_round_path(@round)
\|
= link_to 'Back', rounds_path
