<tbody>
  {{#each model.deck_cards as |deck_card|}}
    {{#if model.is_owned}}
      <tr>
        {{#link-to 'deck.edit' deck_card tagName='td'}}  
          {{short-card card=deck_card.card}}
        {{/link-to}}
        {{#link-to 'deck.edit' deck_card tagName='td'}}  
          {{deck_card.affiliation}}
        {{/link-to}}
        <td>
          {{confirm-button action="deleteDeckCard" label="Remove" param=deck_card.id}}
        </td>
      </tr>
    {{else}}
      <tr>
        {{#link-to 'card' deck_card.card tagName='td'}}  
          {{short-card card=deck_card.card}}
        {{/link-to}}
        {{#link-to 'card' deck_card.card tagName='td'}}  
          {{deck_card.affiliation}}
        {{/link-to}}
        <td>
        </td>
      </tr>
    {{/if}}
  {{/each}}
</tbody>
<tfoot>
  <tr>
    <td></td>
    <td></td>
    <td>
      {{#if model.is_owned}}
        {{#link-to "deck.new" model}}Add{{/link-to}}
      {{/if}}
    </td>
  </tr>
</tfoot>
