<span class="card">
	<span class="color {{card.color}}" data-color="{{card.color}}">
		<span class="faction {{card.faction}}" data-faction="{{card.faction}}" title="{{card.team}}">
			{{card.title}}
		</span>
	</span>
</span>
