%h1 Listing games

%table
  %thead
    %tr
      %th User
      %th Deck
      %th Game type
      %th Status
      %th Outcome
      %th
      %th
      %th
      
  %tbody
    - @games.each do |game|
      %tr
        %td= game.user_id
        %td= game.deck_id
        %td= game.game_type
        %td= game.status
        %td= game.outcome
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
