<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			{{deck-name deck=model.deck}}
		</div>
		<div class="col-xs-12">
			{{game.type_description}}
		</div>
		<div class="col-xs-12">
			Join code: {{#link-to "game.code" model tagName="code"}}{{model.code}}{{/link-to}}
		</div>
		<div class="col-xs-12 text-right">
			<button {{action "refresh"}} class='btn btn-sm btn-default'><i class='fa fa-refresh'></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Players</th>
						<th>{{model.players.length}} / {{model.deck.player_count}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each model.players as |player|}}
						<tr>
							<td>{{player.name}}</td>
							<td>
								{{#if player.is_self}}
          							{{confirm-button action="leaveGame" label="Leave" param=player}}
								{{else}}
									{{#if model.is_owned}}
										{{confirm-button action="leaveGame" label="Kick" param=player}}
									{{/if}}
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="col-xs-5 push-xs-1">
			<div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Cards {{model.actual_cards.length}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each model.actual_cards as |card|}}
						{{#link-to "card" card tagName="tr"}}
							<td>{{short-card card=card}}</td>
						{{/link-to}}
					{{/each}}
				</tbody>
			</table>
		</div>
	    <div class="col-xs-12">
          Rules
          <ul>
            <li>
              {{#if model.deck.bury}}
                Burying a card.
              {{else}}
                No Buried Card.
              {{/if}}
            </li>
          </ul>
        </div>
		<div class="col-xs-12 text-center">
			{{#if model.is_owned}}
				{{#if model.has_enough_players}}
					<button {{action "startGame"}} class="btn btn-primary">Start Game</button>
				{{else}}
					<button class="btn btn-default" disabled>Needs more players</button>
				{{/if}}
			{{/if}}
		</div>
	</div>
</div>