%h1 Listing cards

%table.cards.sortable{data: {action: "/cards/sort.json"}}
  %thead
    %tr
      %th{width: 200} Title
      %th{width: 200} Short desc
      %th{width: 400} Long desc
      %th
      %th
      %th
      
  %tbody
    - @cards.each do |card|
      %tr{data: {key: card.id}}
        %td
          = render partial: 'short', object: card
          %div= card.subtitle
        %td= card.short_desc
        %td= card.long_desc
        %td= link_to 'Show', card
        %td= link_to 'Move', '#', class: :move
        %td= link_to 'Edit', edit_card_path(card)
        %td= link_to 'Flip', card_flip_path(card)
        %td= link_to 'Destroy', card, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Card', new_card_path
\|
= link_to "Card PDF", cards_path(format: :pdf)
\|
= link_to "Character Guide", cards_guide_path # (format: :pdf)
