%p Full Card:
= render partial: "full", object: @card

%p Short Card:
= render partial: "short", object: @card


%hr
%header
  %h1 Guide text:
  %h2= render partial: "short", object: @card

= markdown(@card.long_desc)


- unless @card.strategy.blank?
  %b Strategy:
  %p
    = markdown(@card.strategy)


- unless @card.allies.empty?
  %b Allies:
  %p 
    - @card.allies.each do |card|
      = render partial: "short", object: card
      &nbsp;

- unless @card.allies_of.empty?
  %b Ally of:
  %p
    - @card.allies_of.each do |card|
      = render partial: "short", object: card
      &nbsp;


- unless @card.enemies.empty?
  %b Enemies:
  %p 
    - @card.enemies.each do |card|
      = render partial: "short", object: card
      &nbsp;

- unless @card.enemies_of.empty?
  %b Enemy of:
  %p
    - @card.enemies_of.each do |card|
      = render partial: "short", object: card
      &nbsp;


- unless @card.requires.empty? and @card.required_text.blank?
  %b Requires:
  - unless @card.required_text.blank?
    %p 
      = markdown @card.required_text
  - unless @card.requires.empty?
    %p
      - @card.requires.each do |card|
        = render partial: "short", object: card
        &nbsp;

- unless @card.required_by.empty?
  %b Required by:
  %p
    - @card.required_by.each do |card|
      = render partial: "short", object: card
      &nbsp;

- unless @card.recommends.empty? and @card.recommended_text.blank?
  %b Recommended:
  - unless @card.recommended_text.blank?
    %p
      = markdown @card.recommended_text
  - unless @card.recommends.empty?
    %p 
      - @card.recommends.each do |card|
        = render partial: "short", object: card
        &nbsp;

- unless @card.recommended_by.empty?
  %b Recommended By:
  %p
    - @card.recommended_by.each do |card|
      = render partial: "short", object: card
      &nbsp;


%hr
%p
  %b Title:
  = @card.title
%p
  %b Subtitle:
  = @card.subtitle
%p
  %b Short desc:
  = markdown(@card.short_desc)
%p
  %b Long desc:
  = markdown(@card.long_desc)
%p
  %b Color:
  = @card.color
%p
  %b Faction:
  = @card.faction
%p
  %b Strategy:
  = markdown(@card.strategy)
%p
  %b Url:
  = @card.url

= link_to 'Edit', edit_card_path(@card)
\|
= link_to 'Back', cards_path
