<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <header>
          <h1>{{model.name}} <small>by {{model.user_name}}</small></h1>
      </header>
    </div>
  </div>
  <form method="post" action="/decks">
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name" class="form-control" placeholder="Name of your deck"}}
      <label for="description" class='sr-only'>Description</label>
      {{textarea value=description id="description" type="description" class="form-control" placeholder="Optional Description" }}
    </div>

    <div class="checkbox">
      <label for="bury">{{input type="checkbox" name="bury" id="bury" checked=bury}} Bury a card?</label>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Card</th>
          <th width="10%">Affiliation</th>
          <th></th>
        </tr>
      </thead>
      {{outlet}}
    </table>

    <button {{action "submit"}} class="btn btn-primary">Create Deck</button>
    {{#link-to 'decks'}}Back{{/link-to}}
  </form>
</div>


