<div class="container-fluid offset">
  <div class="row">
    <div class="col-md-12 text-center">
      <header>
          <h1>{{model.name}} <small>by {{model.user_name}}</small></h1>
      </header>
    </div>
  </div>
  <form method="post" action="/decks">
    {{#if model.is_owned }}
      <div class="form-group">
        <label for="name" class="sr-only">Name</label>
        {{input value=model.name id="name" class="form-control" placeholder="Name of your deck"}}
        <label for="description" class='sr-only'>Description</label>
        {{textarea value=model.description id="description" type="description" class="form-control" placeholder="Optional Description" }}
      </div>
      <div class="checkbox">
        <label for="bury">{{input type="checkbox" name="bury" id="bury" checked=model.bury}} Bury a card?</label>
      </div>
    {{else}}
      <p>{{model.description}}</p>
      {{#if model.bury}}
      <p>A card will be buried, be sure there are secondaries.</p>
      {{/if}}
    {{/if}}

    <p>{{model.player_count}}</p>

    {{#if model.has_warnings}}
      <div class="alert alert-warning">{{model.warnings}}</div>
    {{/if}}

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Card</th>
          <th width="10%">Affiliation</th>
          <th></th>
        </tr>
      </thead>
      {{outlet isOwned=isOwned}}
    </table>
    <hr />

    {{#if model.is_owned}}
      <button {{action "save"}} class="btn btn-primary">Save Deck</button>
    {{/if}}
    {{#link-to 'decks'}}Back{{/link-to}}
    <br />
  </form>
  <br />
</div>

