%h1 Listing swaps

%table
  %thead
    %tr
      %th Round
      %th Player min
      %th Player max
      %th Count
      %th
      %th
      %th
      
  %tbody
    - @swaps.each do |swap|
      %tr
        %td= swap.round_id
        %td= swap.player_min
        %td= swap.player_max
        %td= swap.count
        %td= link_to 'Show', swap
        %td= link_to 'Edit', edit_swap_path(swap)
        %td= link_to 'Destroy', swap, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Swap', new_swap_path
