%h1= "Listing swaps for #{@round}"

%table
  %thead
    %tr
      %th Players
      %th Count
      %th
      %th
      %th
      
  %tbody
    - @swaps.each do |swap|
      %tr
        %td= swap.range
        %td= swap.count
        %td= link_to 'Show', round_swap_path(@round, swap)
        %td= link_to 'Edit', edit_round_swap_path(@round, swap)
        %td= link_to 'Destroy', round_swap_path(@round, swap), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Swap', new_round_swap_path(@round)
\|
= link_to 'Back', rounds_path