!!!
%html
  %head
    %title TwoRooms

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    -# = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
    %link{ rel: "icon", type: "image/png", href: "/images/bomb.png"}
  %body
    #flash
      - unless notice.nil?
        %p#notice= notice
      - unless alert.nil?
        %p#alert= alert


    = yield

    %footer
      = link_to "Cards", cards_path
      \|
      = link_to "Rounds", rounds_path
