!!!
%html
  %head
    %title TwoRooms
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag    'application'
    = csrf_meta_tags
    %link{ rel: "icon", type: "image/png", href: "/images/bomb.png"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
    /%meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
  %body
    #frame.beneath
    %nav#navigation
      .icon
      .menu
        %ul
          %li= link_to "Cards", cards_path
          %li= link_to "Rounds", rounds_path
    #container
      #flash
        - unless notice.nil?
          %p#notice= notice
        - unless alert.nil?
          %p#alert= alert


      = yield

    %footer
      = link_to "Cards", cards_path
      \|
      = link_to "Rounds", rounds_path
